<div class="containet">
  <h1>Home!</h1>
  <p *ngIf="3 == 2">
    Teste com ngIf
  "</p>
  <p [hidden]="!true">
    Teste com ngShow
  "</p>
  <p [hidden]="true">
    Teste com ngHidden
  "</p>
  <a class="btn btn-danger" [href]="url">Sobre</a>
  <a class="btn btn-info" (click)="exibeAlerta($event)">Teste com Click</a>
  <ul>
    <li *ngFor="let produto of produtos; let i = index">
        {{ produto.titulo }} - {{ produto.descricao }} - {{ i }}
    </li>
  </ul>
  <input type="text" [(ngModel)]="nome">{{ nome }}
</div>
